<!doctype html>
<html lang="en" ng-app="EsConnector">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ExileTools Shop Indexer Information</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" rel="stylesheet">
  <link href="css/ui-layout.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/thirdparty/elasticsearch.angular.min.js"></script>
  <script src="js/thirdparty/ui-bootstrap-0.14.3.min.js"></script>
  <script src="js/thirdparty/highstock/js/highstock.js"></script>
  <script src="js/thirdparty/highstock/js/modules/exporting.js"></script>
  <script src="js/es-dashboard.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>


</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ExileTools Shop Indexer Information</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
      
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://exiletools.com">ExileTools.com</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

<div id="main" style="width:100%;padding-left:50px;padding-right:50px">
  
  <div style="width:100%;background-color:#ffebcc;padding:10px;text-align:top">
    <p><b>This page contains statistics and information about the ElasticSearch Index at ExileTools that powers the free and public <a href="http://api.exiletools.com/info/indexer.html">Shop Indexer API</a> service.</b></p>
    <p>All of this information is rendered live in your browser via ElasticSearch queries to the Item and Stats indexes. This dashboard itself is fully open sourced and <a href="https://github.com/trackpete/exiletools-indexer">available on GitHub</a>.</p>
  </div>

  <p/><hr width=100% size=1 />

  <div ng-controller="StashTabHeadlineStats">
    <div ng-if="!FirstStashTab">
      <i class="fa fa-spinner fa-spin"></i> <b><i>Loading Headline Statistics from index...</i></b>
    </div>
    <div ng-if="FirstStashTab">
      <div class="row" style="background-color:#ffeeee">
        <div class="col-md-3" style="text-align:center">
          <b>Current Index Created:</b><br>
          <font size=5>{{FirstStashTab}}</font>
        </div>
        <div class="col-md-3" style="text-align:center">
          <b>Total Stash Tabs Tracked:</b><br>
          <font size=7>{{stashTabCount | number}}</font>
        </div>
        <div class="col-md-3" style="text-align:center">
          <b>Unique Seller Accounts:</b><br>
          <font size=7>{{UniqueSellerCount | number}}</font>
        </div>
        <div class="col-md-3" style="text-align:center">
          <b>Total Stash Tab Updates Processed:</b><br>
          <font size=7>{{TotalStashTabsProcessed | number}}</font>
        </div>
      </div><p>
      <div class="row" style="background-color:#ffcdcd">
        <div class="col-md-3" style="text-align:center">
          <b>Total Items Added:</b><br>
          <font size=7>{{TotalItemsAdded | number}}</font>
        </div>
        <div class="col-md-3" style="text-align:center">
          <b>Total Items Removed:</b><br>
          <font size=7>{{TotalItemsRemoved | number}}</font>
        </div>
        <div class="col-md-3" style="text-align:center">
          <b>Total Items Modified:</b><br>
          <font size=7>{{TotalItemsModified | number}}</font>
        </div>
        <div class="col-md-3" style="text-align:center">
          <b>Total Items Processed In All Updates:</b><br>
          <font size=7>{{TotalItemsProcessed | number}}</font>
        </div>
      </div>
    </div>
  </div>

  <p/><hr width=100% size=1 />
  <!-- This query now also has all the above information and we should put it into one table. How? lol. -->
  <div ng-controller="GeneralLeagueStats">
    <div ng-if="!GeneralStats">
      <i class="fa fa-spinner fa-spin"></i> <b><i>Loading General Statistics from index...</i></b>
    </div>
    <div ng-if="GeneralStats">
      <h3>Index Statistics for Items Updated Recently (Last 3 Days):</h2>
      <div id="GridRecentItemsInLeague" ui-grid="{ data: RecentGeneralStats, enableHorizontalScrollbar:0 }" style="width:100%;height:152px"></div>
      <p/>
      <h3>Overall Current Index Statistics:</h2>
      <div id="GridItemsInLeague" ui-grid="{ data: GeneralStats, enableHorizontalScrollbar:0 }" style="width:100%;height:212px"></div>
    </div>
  </div>

<p/><hr width=100% size=1 />

<div ng-controller="RunStatsHisto1">
  <div class="row">
    <div class="col-md-9">
      <div id="GraphShopPagesFetched" style="height: 400px; min-width: 310px"></div>
    </div>
    <div class="col-md-3">
      <p><b><font size=5>{{Hours | number : 2}} Hours</font></b> have been spent fetching and processing this data.</p>
    </div>
  </div>
  <p><hr width=100% size=1 />
  <div class="row">
    <div class="col-md-9">
      <div id="GraphTotalTransferMB" style="height: 400px; min-width: 310px"></div>
    </div>
    <div class="col-md-3">
      <p><b><font size=5>{{TotalMB | number : 2}}MB</font></b> of compressed data has been transferred from pathofexile.com since {{FirstDay}}.</p>
      <p><b><font size=5>{{TotalMBProcessed | number : 2}}MB</font></b> of uncompressed data has been processed.</p>
    </div>
  </div>
</div>



</div>
</body>
</html>
