<!doctype html>
<html lang="en" ng-app="EsConnector">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ExileTools Unique Item Price Reports</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" rel="stylesheet">
  <link href="css/ui-layout.css" rel="stylesheet">
  <link href="css/select.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
  <script src="js/thirdparty/elasticsearch.angular.min.js"></script>
  <script src="js/thirdparty/ui-bootstrap-0.14.3.min.js"></script>
<!--
  <script src="js/thirdparty/highstock/js/highstock.js"></script>
  <script src="js/thirdparty/highstock/js/modules/exporting.js"></script>
-->
  <script src="js/thirdparty/angular-promise-buttons.min.js"></script>
  <script src="js/thirdparty/angular-cache.min.js"></script>
  <script src="js/thirdparty/select.min.js"></script>
  <script src="js/thirdparty/highcharts-ng.min.js"></script>
  <script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
  <script src="js/es-uniques.js"></script>

<style>
body {
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: "fontin";
    src: url("css/fontin-regular-webfont.woff") format('woff');
}

</style>

</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ExileTools Unique Item Price Reports</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
      
        <ul class="nav navbar-nav">
<!--          
          <li class="active"><a href="#">How do I make this do something?</a></li>
          <li><a href="#">What about this?</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Static Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" ng-controller="LeagueList">Dynamic Dropdown?<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
-->
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://exiletools.com">ExileTools.com</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

<div id="main" style="width:100%;padding-left:50px;padding-right:50px">

 
  <div ng-controller="leagueChooser">
    <h4>Choose a League:</h4>
    <div ng-repeat="(key, val) in LeagueStats" style="float:left;margin-right:5px">
      <button class="btn" ng-click="selectLeague(key)" promise-btn>{{key}}</button>
    </div>
  </div><br><br>
  <hr width=100% size=1>
  <div id="loader"></div>
  <div class="ng-view" style="min-width:1000px"></div>

  <script type="text/ng-template" id="uniqueChooser.html">
    <div ng-if="Uniques">
      <ui-select ng-model="unique.selected" theme="selectize" ng-disabled="disabled" style="width:600px" on-select="selectUnique(unique.selected)">
        <ui-select-match placeholder="Choose a unique item...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="unique in Uniques | filter: $select.search">{{unique}}</ui-select-choices>
      </ui-select>
    </div>
  </script>

  <script type="text/ng-template" id="uniqueReport.html">

    <div class="clearfix" style="height:170px;margin-bottom:25px" ng-if="readyReport">
      <div style="padding:15px;background-color:#ffe5b3;height:120px;width:100%;float:left;z-index:-1;position:relative" ng-if="readyReport">
        <div style="float:left;margin-right:5px" ng-if="readyReport">
          <img ng-repeat="url in Icons" ng-src="{{url}}" height=150>
        </div>
        <div ng-if="readyReport">
          <p><font size=7 face="fontin"><b>{{unique}}</b></font></p>
          <p><font size=2>
            <b><i class="fa fa-database">&nbsp;</i> {{league}}</b> League<br><br>
            <b><i class="fa fa-cog">&nbsp;</i> {{baseItemType}}</b> Base &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;
            <b><i class="fa fa-cogs">&nbsp;</i> {{itemType}}</b> Type &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;
            <b><i class="fa fa-child">&nbsp;</i> {{equipType}}</b> Equip Slot
          </font></p>
        </div>
      </div>
    </div>


    <div style="width:100%" ng-if="readyReport">

      <div class="clearfix" style="width:100%">
        <div class="btn btn-info" style="float:left;margin-right:25px"><p style="font-size:200%"><i class="fa fa-check-square-o fa-lg"></i> {{verified.YES + verified.GONE + verified.OLD}} Total Seen</p><p style="font-size:130%">{{verifiedPrice.YES + verifiedPrice.GONE + verifiedPrice.OLD}} ({{(verifiedPrice.YES + verifiedPrice.GONE + verifiedPrice.OLD) / (verified.YES + verified.GONE + verified.OLD) * 100 | number : 0}}%) with B/O</p></div>
        <div class="btn btn-success" style="float:left;margin-right:25px" ng-if="verified.YES"><p style="font-size:200%"><i class="fa fa-shopping-cart fa-lg"></i> {{verified.YES}} Available Now</p><p style="font-size:130%">{{verifiedPrice.YES}} ({{verifiedPrice.YES / verified.YES * 100 | number : 0}}%) with B/O</div>
        <div class="btn btn-danger" style="float:left;margin-right:25px" ng-if="verified.GONE"><p style="font-size:200%"><i class="fa fa-external-link fa-lg"></i> {{verified.GONE}} Gone</p><p style="font-size:130%">{{verifiedPrice.GONE}} ({{verifiedPrice.GONE / verified.GONE * 100 | number : 0}}%) with B/O</div>
        <div class="btn btn-warning" style="float:left;margin-right:25px" ng-if="verified.OLD"><p style="font-size:200%"><i class="fa fa-meh-o fa-lg"></i> Stale: {{verified.OLD}}</p><p style="font-size:130%">&nbsp;</p></div>
      </div>

<br><br>

<p ng-if="commonRank">{{unique}} is the <font size=+2><b>{{commonRank}}</b></font>{{commonRankOrd}} most common unique for sale in {{league}} (out of {{totalCount}})</p>
<p><b>Gone Ratio:</b> {{verifiedPrice.GONE / (verifiedPrice.YES + verifiedPrice.GONE + verifiedPrice.OLD) * 100 | number : 0}}%</p>


<p ng-if="corruptedTotal">{{corruptedTotal}} corrupted ({{corruptedPercent | number : 1}}%)</p>
<p ng-if="identifiedTotal">{{identifiedTotal}} identified ({{identifiedPercent | number : 1}}%)</p>
<p ng-if="unidentifiedTotal">{{unidentifiedTotal}} unidentified ({{unidentifiedPercent | number : 1}}%)</p>
<p ng-if="uniqueSellers">{{uniqueSellers}} unique seller accounts</p>
<p ng-if="value.allTime5">{{value.allTime5}} {{value.allTime5Type}} is the  5% percentile price</p>
<p ng-if="value.allTime15">{{value.allTime15}} {{value.allTime15Type}} is the  15% percentile price</p>
<p ng-if="value.allTime50">{{value.allTime50}} {{value.allTime50Type}} is the  50% percentile price</p>


<br><br>
<div id="CurrencyTypes" ui-grid="{ data: currencyTypes, enableHorizontalScrollbar:0 }" style="width:30%;height:150px"></div>
<br><br>

<highchart id="chart1" config="chartConfig" series="testSeries" class="span10"></highchart>





    </div>
  </script>


</div>


</body>
</html>
